.gradle
.gradletasknamecache
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

*.versionsBackup
*.releaseBackup
release.properties
local.properties
*.swp

.video
.attach_pid*
apidoc

bin/
.settings
.project
.classpath
.konan

.DS_Store

hs_err_pid*.log

gradle-user-home

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
